name: ci
on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.25' ]
    name: ${{ matrix.go }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}

      - run: make test
      - run: make vet

      - uses: codecov/codecov-action@v4
        with:
          files: ./coverage.txt
          flags: unittests
          name: codecov-umbrella-${{ matrix.go }}
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
